.home_section {
	@include span-columns(12);
	color: $white;
	
	.hero {
		@include span-columns(12);
		background: url('../images/home-hero2.jpg') no-repeat;
		background-size: cover;
		text-align: center;
		padding: 40px 0;
		background-position: left;

		@include media($mobile) {
			padding-bottom: 100px;
		}

		&:before {
			content: '';
			background: rgba(0, 0, 0, .7);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		h2 {
			@include calvertbold;
			font-size: 36px;
			text-shadow: 1px 4px 2px rgba(0, 0, 0, 1);
			color: $yellow;
			line-height: 1.2;

			@include media($mobile){
				font-size: 4.8vw;
				margin-top: 40px;
				line-height: 1.2;
			}

			@include media($smallMobile){
				font-size: 30px;
			}

			&.sub_title {
				font-size: 24px;

				@include media($tablet) {
					font-size: 18px;
				}
			}
		}

		h3 {
			@include foliocondensedbq;
			font-size: 45px;
			font-weight: lighter;
			margin: 20px 0;
			text-shadow: 1px 4px 2px rgba(0, 0, 0, 1);
			line-height: 1;

			@include media($tablet){
				font-size: 4vw;
			}

			@include media($mobile){
				font-size: 40px;
				margin: 10px 0 20px;
			}

			@include media($smallMobile){
				font-size: 7.4vw;
			}

			a {
				color: $white;
			}
		}

		h4 {
			@include foliocondensedbq;
			font-size: 34px;
			text-shadow: 1px 4px 2px rgba(0, 0, 0, 1);
			float: left;

			@include media($tablet) {
				font-size: 26px;
			}

			@include media($smallMobile) {
				font-size: 22px;
			}
		}

		.checkmark {
			width: 35px;
			height: 25px;

			@include media($tablet) {
				width: 24px;
				height: 20px;
			}

			@include media($mobile) {
				width: 20px;
				height: 16px;
			}
		}

		.text_link {
			&:hover {
				color: $yellow;
			}
		}

		.button {
			@include foliocondensedbq;
			font-size: 34px;

			@include media($tablet) {
				font-size: 28px;
			}

			@include media($mobile) {
				font-size: 24px;
			}

			@include media($smallMobile) {
				display: block;
			}
		}

		.button_content {
			background: $black;
			padding: 15px;

			p {
				line-height: 1;
				text-align: left;
				font-size: 11px;
			}
		}

		.cta_button {
			@include foliocondensedbq;
			color: #123b50;
			font-size: 26px;
			text-transform: uppercase;
			margin-bottom: 5px;
			padding-left: 15px;
			background: $yellow;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			cursor: pointer;

			@include media($tablet) {
				font-size: 22px;
			}

			&:hover {
				background: #c4a020;
			}

			.amount {
				font-size: 38px;

				@include media($tablet) {
					font-size: 32px;
				}
			}

			.small {
				color: #1d5e80;
				font-size: 20px;
				line-height: 1;

				@include media($tablet) {
					font-size: 14px;
				}
			}

			.cta {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f8969+0,2f7353+50,1b5a3a+100 */
				background: #3f8969; /* Old browsers */
				background: -moz-linear-gradient(top, #3f8969 0%, #2f7353 50%, #1b5a3a 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #3f8969 0%,#2f7353 50%,#1b5a3a 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #3f8969 0%,#2f7353 50%,#1b5a3a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f8969', endColorstr='#1b5a3a',GradientType=0 ); /* IE6-9 */
				color: $white;
				font-size: 20px;
				padding: 8px 5px;
				line-height: 1;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				-webkit-border-bottom-right-radius: 6px;
				-webkit-border-top-right-radius: 6px;
				-moz-border-radius-topright: 6px;
				-moz-border-radius-bottomright: 6px;
				right: -1px;

				@include media($tablet) {
					font-size: 16px;
				}
			}
		}

		.down_arrow {
			position: absolute;
			left: 50%;
			margin-left: -50px;
			top: -20px;
			z-index: 1;

			@include media($mobile) {
				top: 40px;
			}

			p {
				@include robotobold;
				font-size: 18px;
			}

			a {
				display: inline-block;
			}
		}
	}

	.content_wrap {
		background: #eaeaea;

		.text_wrap {
			background: $white;
			margin: 60px 0;
			padding: 60px 8%;
			border: 7px solid #e4e4e4;

			@include media($mobile) {
				padding: 40px 8%;
			}

			p {
				color: $black;
				font-size: 20px;
				margin-bottom: 40px;

				span {
					@include robotobold;
				}
			}

			a {
				@include robotobold;
				color: #1b5a3a;
				font-size: 20px;

				&:hover {
					color: #2f7353;
				}
			}
		}
	}
}