.member_home {
	font-family: 'robotoregular', sans-serif;
	text-align: center;
	
	@include media($mobile){
		padding: 40px 0;
	}
	
	h2 {
        @include span-columns(12);
		font-size: 30px;
		font-family: 'robotoregular', sans-serif;
		
		@include media($tablet){
			font-size: 28px;
		}
		
		@include media($mobile){
			font-size: 22px;
			line-height: 1.2;
		}
	}
	
	.content_wrap {
		background: $lightGray;
		padding: 30px;
		margin: 40px 0;
		-webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,.14);
		-moz-box-shadow: -2px 2px 3px 1px rgba(0,0,0,.14);
		box-shadow: -2px 2px 3px 1px rgba(0,0,0,.14);
		border: 1px solid $borderGray;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		
		@include media($tablet){
			margin: 30px 0;
			padding: 10px;
		}
		
		@include media($mobile){
			padding: 10px;
		}
		
		.my_row {
			margin-bottom: 40px;
            width: 100%;

            @include media($mobile) {
                width: 90%;
            }

            @include media($smallMobile) {
                width: 100%;
            }
			
			@include media($tablet){
				margin-bottom: 20px;
			}
		}
	}

	&.inactive {
		padding-bottom: 20%;

		h2 {
			color: $white;
			padding-bottom: 5%;
		}

		h3 {
			@include foliocondensedbq;
			text-shadow: 1px 4px 2px black;
			color: $yellow;
			font-size: 45px;

			@include media($mobile) {
				font-size: 34px;
			}
		}

		.button {
			@include foliocondensedbq;
			font-size: 34px;

			@include media($mobile) {
				font-size: 28px;
			};
		}
	}
}