.member {
	color: $black;

	.content {
		@include span-columns(9);
		padding: 60px 0;
		color: $black;
		text-align: center;

		@include media($mobile){
			@include span-columns(4);
		}
	}

	h3 {
		@include robotomed;
		font-size: 30px;
		text-transform: uppercase;
		line-height: 1.2;

		@include media($tablet){
			margin: 15px 0;
		}

		@include media($mobile){
			font-size: 25px;
			margin: 10px 0;
		}
	}

	p {
		@include robotoreg;
		font-size: 16px;

		@include media($mobile){
			font-size: 14px;
		}
	}
}

#member_account {
	@include span-columns(12);
	text-align: center;
	margin: 100px 0;

	@include media($tablet){
		margin: 80px 0;
	}

	@include media($mobile){
		margin: 40px 0;
	}

	.column {
		@include span-columns(6);
		padding: 20px;
		background: $lightGray;
		text-align: left;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		line-height: 1.4;
		-webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,.14);
		-moz-box-shadow: -2px 2px 3px 1px rgba(0,0,0,.14);
		box-shadow: -2px 2px 3px 1px rgba(0,0,0,.14);
		border: 1px solid $borderGray;

		@include media($tablet){
			padding: 15px;
		}

		@include media($mobile){
			@include span-columns(4);
            margin-bottom: 20px;
		}

        .buttons_wrap {
            @include span-columns(12);

            a {
                padding: 7px 15px;
                display: inline-block;
				text-align: center;

				@include media($smallMobile) {
					width: 49%;
				}
            }
        }

		h3 {
			@include robotobold;
			font-size: 20px;
			text-transform: none;
			margin: 0;

			@include media($tablet){
				font-size: 18px;
			}

			@include media($mobile){
				font-size: 16px;
			}
		}

        &.membership {

            @include media($mobile) {
                margin-bottom: 0;
            }

			a {
				color: $red;

				&:hover {
					color: $darkRed;
				}
			}

            .content_wrap {
                padding-bottom: 39px;

                @include media($tablet){
                    padding-bottom: 32px;
                }

                &.noname {
                    padding-bottom: 9px;
                }

				p {
					color: $black;
				}

			}
        }

		.content_wrap {
			background: $white;
			margin: 20px 0;
			padding: 10px 0 10px 20px;
			font-size: 15px;
			 border-radius: 4px;
			 -webkit-border-radius: 4px;
			 -moz-border-radius: 4px;

			 @include media($tablet){
			 	padding: 6px 0 6px 10px;
			 }

			p {
				@include robotomed;
				color: $red;

				@include media($tablet){
					font-size: 14px;
				}

				@include media($mobile){
					font-size: 12px;
				}
			}

			li {
				@include robotoreg;
				margin: 5px 0;

				@include media($tablet){
					font-size: 14px;
				}

				@include media($mobile){
					font-size: 12px;
				}

				strong {
					@include robotobold;
				}
			}
		}

		.my_row {
			@include span-columns(12);

			 p {
				 width: auto;
				 float: left;
				 font-size: 15px;

				 &.label {
					 @include robotobold;
					 color: $black;
					 margin-right: 10px;
				 }

				 strong {
                     @include robotoreg;
				 }

				 &.status {
					 padding: 0 8px 1px;
					 border-radius: 4px;
					 -webkit-border-radius: 4px;
					 -moz-border-radius: 4px;

					 &.active {
						 color: $white;
						 background: $yellow;
					 }

					 &.inactive {
						 color: $white;
						 background: $red;
					 }
				 }
			 }
		}
	}
}

#account_cancel {
	text-align: center;

	@include media($mobile){
		margin: 60px 0;
	}

	&.content_wrap {
		width: auto;
		display: inline-block;
		background: $lightGray;
		padding: 40px 60px;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,.14);
		-moz-box-shadow: -2px 2px 3px 1px rgba(0,0,0,.14);
		box-shadow: -2px 2px 3px 1px rgba(0,0,0,.14);
		border: 1px solid $borderGray;

		@include media($mobile){
			padding: 20px;
		}

		.copy_wrap {
			margin: 30px 0;
		}

		h2 {
			font-size: 32px;

			@include media($tablet){
				font-size: 28px;
			}

			@include media($mobile){
				font-size: 20px;
			}
		}

		h4 {
			font-size: 16px;
			color: $red;

			@include media($tablet){
				font-size: 14px;
			}

			@include media($mobile){
				font-size: 12px;
			}
		}

		h3 {
			@include robotoreg;
			font-size: 20px;

			@include media($tablet){
				font-size: 18px;
			}

			@include media($mobile){
				font-size: 16px;
			}
		}

		ul {
			display: inline-block;
			text-align: left;

			li {
				&:before {
					content: '-';
					position: absolute;
					left: 11px;
					top: -2px;
					font-size: 28px;
					color: $red;

					@include media($tablet){
						font-size: 26px;
					}

					@include media($mobile){
						font-size: 24px;
					}
				}
			}
		}

		p {
			color: $red;
			font-size: 18px;
			padding-left: 28px;

			@include media($tablet){
				font-size: 16px;
			}

			@include media($mobile){
				font-size: 12px;
			}
		}

		.button {
			display: inline-block;
			padding: 7px 0;
			width: 50%;
			margin:  0 auto;
			font-size: 14px;

			@include media($tablet){
				width: 60%;
			}

			@include media($mobile){
				width: 70%;
			}

			@include media($smallMobile){
				font-size: 12px;
				width: 100%;
			}

            &.yellow {
                margin-top: 15px;
            }
		}
	}
}

.alert h3 {
    font-size: 20px;
}
